    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'post_list' %}">Sukjisite</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_list' %}">게시글 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_create' %}">새 글 작성</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>